* {
    margin: 0;
    box-sizing: border-box;
    color: #eceeef;
    font-family: "SourceSans3Regular";
}

@font-face {
    font-family: "SourceSans3Regular";
    src: url("SourceSans3/SourceSans3-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSans3Bold";
    src: url("SourceSans3/SourceSans3-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSans3Light";
    src: url("SourceSans3/SourceSans3-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSans3Medium";
    src: url("SourceSans3/SourceSans3-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSans3Black";
    src: url("SourceSans3/SourceSans3-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {
    background-image: url('bg-mobile.jpg');
    background-repeat: no-repeat;
    background-size: 100%; /* Современные браузеры */
}
header {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-shadow: 0 5px 8px 0 rgba(34, 60, 80, 0.2);
    margin-bottom: 20px;
}
.header-container-div {
    display: flex;
    flex-direction: row;
}
.logo-hello-div {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.hello-text-p {
    display: none;
}
.menu {
    flex-grow: 1;
}

.menu ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    margin-right: 10px;
    margin-top: 21px;
    margin-bottom: auto;
}
.menu li a {
    transition: all 0.1s ease;
    color: white;
}
.menu li :hover {
    transition: all 0.1s ease;
    color: rgba(255,255,255,0.5);
}

.bien-glass {
    inset: 0;
    --extended-by: 100px;
    bottom: calc(-1 * var(--extended-by));

    --filter: blur(15px);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    background-color: rgba(0, 0, 0, 0.4);
}

.white-transparent-outline {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.more-blur {
    --filter: blur(20px);
}

.logo {
    margin-right: 20px;
}
.menu a,
.menu .active {
    display: block;
    text-transform: uppercase;
}
.menu a {
    color: #000;
    text-decoration: none;
}
.menu a :hover {
    color: #fa0303;
}

.menu .active {
    color: #fff;
    background-color: #ff3d00;
    border-radius: 8px;
}

.main-container, #form-block, .limits-div, .balance-div, .income-div, .expenses-div, .adding-buttons-income-and-expenses-div {
    display: flex;
    flex-direction: column;
}

.main-container {
    padding-left: 40px;
    padding-right: 40px;
}

.left-block-for-mobile, .right-block-for-mobile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/*  */
.balance-div, .income-and-expenses-div, .adding-buttons-income-and-expenses-div, .recent-operations-div, .limits-div {
    margin-bottom: 30px;
}


/* отображение сайта на мониторах больше 1279 пикселей (пк) */
@media (min-width: 1279px) {
    body {
        background-image: url('bg.jpg');
    }

    .main-container {
        flex-direction: row;
        /*padding-left: 240px;
        padding-right: 240px;*/
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .right-block-for-mobile {
        margin-left: 100px;
        height: fit-content;
    }
    .left-block-for-mobile {
        width: 400px;
        margin-bottom: 0px;
    }
}


/* модальное окно входа/регистрации */
.sign-in-form-div, .sign-up-form-div {
    display: flex;
    flex-direction: column;
}

.sign-in-form-div {
}

.sign-up-form-div {
    display: none;
}


/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0;

    inset: 0;
    --extended-by: 100px;
    bottom: calc(-1 * var(--extended-by));

    --filter: blur(30px);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: rgba(255,255,255,1);;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#sign-out-a {
    display: none;
}

/* отступы снизу */
.mgb-0 {
    margin-bottom: 0;
}
.mgb-5 {
    margin-bottom: 5px;
}
.mgb-10 {
    margin-bottom: 10px;
}
.mgb-15 {
    margin-bottom: 15px;
}
.mgb-20 {
    margin-bottom: 20px;
}


/* отступы внутри */
.p-0 {
    padding: 0;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}


/* размеры шрифта */
.font-size-20 {
    font-size: 20px;
}
.font-size-25 {
    font-size: 25px;
}
.font-size-30 {
    font-size: 30px;
}
.font-size-35 {
    font-size: 35px;
}
.font-size-40 {
    font-size: 40px;
}


/* обозначение щрифтов */
.font-light {
    font-family: "SourceSans3Light";
}
.font-regular {
    font-family: "SourceSans3Regular";
}
.font-medium {
    font-family: "SourceSans3Medium";
}
.font-bold {
    font-family: "SourceSans3Bold";
}
.font-black {
    font-family: "SourceSans3Black";
}


/* нижняя граница  */
.border-bottom {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}


/* стили кнопок  */
.button-default {
    transition: all 1s ease;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.button-default:hover {
    transition: all 0.1s ease;
    background-color: rgba(255,255,255,0.5);
}


/* стили input  */
.input-textfield {
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
    font-family: "SourceSans3Bold"
}

::placeholder {
    color: rgba(0,0,0,0.7);
    opacity: 1; /* Firefox */
    font-family: "SourceSans3Light"
}